mixin use(data)
  .use&attributes(attributes)
    .use__holder
      h2.use__head Как воспользоваться системой
      .use__list
        .use__item
          .use__icon.use__icon_target
          .use__title 
            | Вы 
            a(href="#").use__link регистрируетесь
        .use__item
          .use__icon.use__icon_stat
          .use__title Добавляете купон
          .use__text который будет выводиться<br/> на сайтах партнеров            
        .use__item
          .use__icon.use__icon_case
          .use__title Добавляете код на свой сайт
          .use__text с помощью которого будут выводиться<br/> предложения партнеров
        .use__item
          .use__icon.use__icon_increase
          .use__title Получаете рост продаж
