mixin faq(data)
  .faq&attributes(attributes)
    .faq__holder
      h2.faq__head Ответы на часто задаваемые вопросы
      .faq__list
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Сколько стоит ваш сервис?
          .faq__answer 
            | Минимальная стоимость отправки одного купона 10 руб. Дальше вы сами выставляете комфортную стоимость. <br/>
            | Чем она выше, тем чаще показывается ваш купон на сайтах партнеров. <br/>
            | Вы сами определяете для себя комфортный бюджет. <br/>
            | Это может быть, как 1 000 руб. так и 10 000 руб. в месяц.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question За что я плачу?
          .faq__answer 
            | Вы оплачиваете каждый отправленный купон вашему потенциальному клиенту.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Я не понял, кому будут отправляться мои купоны?
          .faq__answer 
            | Например, вы занимаетесь установкой натяжных потолков. Вы создаете в нашем сервисе купон, например на скидку. Ваш купон размещается на сайтах, на которые заходят люди, которым могут быть интересны ваши услуги. Например, кто то делает ремонт дома, решил сменить межкомнатные двери. Заходит на сайт интернет-магазина межкомнатных дверей, который так же подключен к нашей системе. Ему предлагают, заказать двери и получить ваш купон со скидкой на натяжные потолки. Так-как этот человек делает ремонт дома, скорее всего ему так же пригодятся и натяжные потолки. <br/>
            | И за ними он обратится именно к вам.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Я должен будут разместить предложения других компаний на своем сайте.<br/> А если мои клиенты будут уходить к ним?
          .faq__answer 
            | На вашем сайте, будут показываться предложения не ваших прямых конкурентов, а компаний, с которыми у вас одна целевая аудитория. Например, интернет-магазин автозапчастей и автосервис, интернет-магазин стройматериалов и интернет-магазин электро инструмента. Таким образом, у посетителя появляется дополнительная мотивация, заказать товар или услугу именно у вас, так-как он, вместе с этим, получает выгодное предложение на товары или услуги, которые ему интересны сейчас или могут быть интересны в будущем.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Каким образом вырастет конверсия моего сайта?
          .faq__answer 
            | Например, человек заходит на ваш сайт и на сайт вашего конкурента. На сайте конкурента ему предлагают оставить заявку и получить продукт/услугу. Вы ему предлагаете так же оставить заявку, но вместе с этим, еще и получить купоны на какие либо бонусы от компаний партнеров, продукты которых ему могут быть интересны сейчас или в будущем. Ценность вашего предложения значительно вырастает и у человека появляется дополнительная мотивация, оставить заявку именно на вашем сайте, а не на сайте конкурента.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Что если я не хочу размещать предложения партнеров на своем сайте, но хочу рекламировать свои услуги через вашу систему?
          .faq__answer 
            | Размещение предложений партнеров, обязательное условие работы в системе. К тому же, это вам выгодно, так-как после размещения блока с предложениями партнеров, конверсия вашего сайта будет расти. Т.е. большее число людей, будет оставлять заявку. <br/>
            | Что если, я не хочу что бы предложение определенного сайта показывалось на моем сайте? <br/>
            | Вы можете добавить этот сайт в фильтр и его предложения больше не будут показываться на вашем сайте.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Я могу бесплатно попробовать ваш сервис?
          .faq__answer 
            | Да, каждому новому зарегестрированному пользователю, мы дарим 3 000 руб. на баланс в системе, так же, вы можете рекомендовать нас своим знакомым и за каждого зарегестрированного пользователя, дополнительно получать 1 000 руб.

