mixin faq(data)
  .faq&attributes(attributes)
    .faq__holder
      h2.faq__head Ответы на часто задаваемые вопросы
      .faq__list
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Сколько стоит ваш сервис?
          .faq__answer 
            | Вы можете использовать сервис абсолютно бесплатно. <br/>
            | При использовании этого тарифа, купоны отправляются не более чем 5 покупателям в месяц.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Как долго я могу использовать бесплатный тариф FREE?
          .faq__answer 
            | Вы можете использовать его не ограниченное количество времени.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question За что я плачу?
          .faq__answer 
            | Вы оплачиваете фиксированную сумму за определенное количество отправлений купона. <br/>
            | Например, при тарифе ECONOM, ваш купон будет отправлен 80 пользователям, после чего вам нужно будет снова внести оплату.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question За какой срок будут отправлены купоны?
          .faq__answer 
            | Весь оплаченный пакет купонов может быть отправлен как за две недели, так и за два месяца. <br/>
            | Все зависит от покупательского спроса (если ваше предложение достаточно выгодное, то покупатели могут очень быстро разобрать купоны) и от месячного лимита, установленного в настройках системы (вы можете установить любое количество отправок купона в месяц).
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Я не понял, кому будут отправляться мои купоны?
          .faq__answer 
            | Например, вы занимаетесь продажей обоев. Вы создаете в нашем сервисе купон, например на скидку или какой либо подарок. Это купон размещается в интернет-магазинах которые не являются вашими конкурентами, но с которыми у вас похожая целевая аудитория. Например, человек делает ремонт дома, он заказывает ламинат в магазине напольных покрытий, и после оформления заказа, ему показывается ваш купон со скидкой на обои. Так-как он делает ремонт дома, скорее всего предложение ему актуально. Он берет купон и идет в ваш магазин покупать обои.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Я должен будут разместить предложения других компаний на своем сайте.<br/> А если мои клиенты будут уходить к ним?
          .faq__answer 
            | Купоны увидят только те пользователи, которые уже совершили заказ.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Как система определяет, какие купоны, показывать чаще?
          .faq__answer 
            | Система старается чаще показывать те купоны, которые чаще всего выбираются пользователями и сайты которых наиболее посещаемые. <br/>
            | Т.е. если ваш сайт, имеет посещаемость выше, чем сайты других участников системы, и ваш купон более привлекательный для пользователей, то он будет показываться чаще остальных.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Что если мой купон никто не выберет?
          .faq__answer 
            | Вы можете изменить предложение и условия, сделав купон более привлекательным.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Почему покупателям должны быть интересны купоны?
          .faq__answer 
            | Купоны показываются пользователям, которым потенциально может быть интересна эта продукция. Например, при покупке женской обуви, покупателю показываются купоны на парфюмерию, или сумочки. К тому же, купон дает право скидки или какого либо бонуса.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Вы работаете только с интернет-магазинами?
          .faq__answer 
            | Да, в настоящее время наш сервис ориентирован только на интернет-магазины.
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question На моем интернет-магазине нет функционала ввода промо-кода при заказе.<br/> Как мне быть?
          .faq__answer 
            | Пользователи, могут вводить свои промо-коды просто в комментарий к заказу, а вы уже со своей стороны, будут рассчитывать итоговую стоимость учитывая условия купона.           
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question Насколько сложно подключить вашу систему?
          .faq__answer 
            | Все делается буквально в два клика. <br/>
            | Вам необходимо интегрировать код системы, в код вашего сайта, и настроить непосредственно сам купон (текст, изображение и т.д.)
        .faq__item
          .faq__title
            .faq__label Вопрос: 
            .faq__question С какими CMS может работать сервис?
          .faq__answer 
            | Мы работаем с сайтами на любой CMS, в том числе на самописных.

