mixin faq(data)
  .faq&attributes(attributes)
    .faq__holder
      h2.faq__head Ответы на часто задаваемые вопросы
      .faq__list
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Сколько стоит ваш сервис?
          .faq__answer
            | Вы можете использовать сервис абсолютно бесплатно. <br/>
            | При использовании этого тарифа, купоны отправляются не более чем 10 покупателям в месяц. В начале каждого месяца, система будет восстанавливать ваш баланс, что бы он был равен 10 купонам.
       .faq__item
        .faq__title
          .faq__label Вопрос:
            .faq__question Сколько стоит один переход на сайт, с помощью вашей системы?
          .faq__answer
            | В отличии от других систем интернет-маркетинга, мы не берем плату за переходы на ваш сайт. Вы получаете их абсолютно бесплатно.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Как долго я могу использовать бесплатный тариф FREE?
          .faq__answer
            | Вы можете использовать его не ограниченное количество времени.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question За что я плачу?
          .faq__answer
            | Вы оплачиваете фиксированную сумму за определенное количество отправлений купона. <br/>
            | Например, при тарифе ECONOM, ваш купон будет отправлен 80 пользователям, после чего вам нужно будет снова внести оплату.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question За какой срок будут отправлены купоны?
          .faq__answer
            | Весь оплаченный пакет купонов может быть отправлен как за две недели, так и за два месяца. <br/>
            | Все зависит от покупательского спроса (если ваше предложение достаточно выгодное, то покупатели могут очень быстро разобрать купоны) и от месячного лимита, установленного в настройках системы (вы можете установить любое количество отправок купона в месяц).
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Я не понял, кому будут отправляться мои купоны?
          .faq__answer
            | Система будет показывать ваш купон, на партнерских интернет-магазинах, с которыми у вас одна целевая аудитория. Например, купон в магазин женской одежды, будет показываться в интернет-магазине косметики.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Я должен будут разместить предложения других компаний на своем сайте.<br/> А если мои клиенты будут уходить к ним?
          .faq__answer
            | Купон будет показываться только тем пользователям, которые уже совершили у вас покупку.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Как система определяет, какие купоны, каким пользователям показывать и какие показывать чаще?
          .faq__answer
            | Система работает на основе самообучаемого искусственного интеллекта. Она анализирует предпочтения и поведение пользователя на основе которых, определяет какой купон ему показать. <br/>
            | Так же, система определяет сегменты аудитории по определенным параметрам, и какие типы купонов в этом сегменте пользуются большей популярностью. Определив типы популярных купонов, она старается наиболее часто показывать именно такие купоны.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Что если мой купон никто не выберет?
          .faq__answer
            | Вы можете изменить предложение и условия, сделав купон более привлекательным. <br/>
            | К тому же, в любом случае, люди видят ваш купон, переходят на сайт. А это, способствует росту узнаваемости бренда.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Почему покупателям должны быть интересны купоны?
          .faq__answer
            | Купоны показываются пользователям, которым потенциально может быть интересна эта продукция. Например, при покупке женской обуви, покупателю показываются купоны на парфюмерию, или сумочки. К тому же, купон дает право скидки или какого либо бонуса.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Вы работаете только с интернет-магазинами?
          .faq__answer
            | Да, в настоящее время наш сервис ориентирован только на интернет-магазины.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question На моем интернет-магазине нет функционала ввода промо-кода при заказе.<br/> Как мне быть?
          .faq__answer
            | Пользователи, могут вводить свои промо-коды просто в комментарий к заказу, а вы уже со своей стороны, будут рассчитывать итоговую стоимость учитывая условия купона.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Насколько сложно подключить вашу систему?
          .faq__answer
            | Все делается буквально в два клика. <br/>
            | Вам необходимо интегрировать код системы, в ваш интернет-магазин, и настроить непосредственно сам купон (текст, изображение и т.д.).
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question С какими CMS может работать сервис?
          .faq__answer
            | Мы работаем с сайтами на любой CMS, в том числе на самописных.
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Ваш сервис работает с любыми тематиками интернет-магазинов?
          .faq__answer
            | Нет, в нашем сервисе запрещено рекламирование товаров:<br/>
            | Лекарственные средства<br/>
            | Медицинская техника<br/>
            | Товары, нарушающие авторские права<br/>
            | Товары для взрослых<br/>
            | Огнестрельное оружие<br/>
            | Наркотические вещества<br/>
            | Алкогольная продукция<br/>
            | Пиво и напитки, изготавливаемые на его основе<br/>
            | Табачные изделия<br/>
            | Курительные смеси<br/>
            | Контрафактные товары
        .faq__item
          .faq__title
            .faq__label Вопрос:
            .faq__question Что если, в моем интерне-магазине будут показывать купоны, с вызывающими изображениями или не этичными текстами?
          .faq__answer
            | Каждый купон, проходит ручную модерацию. И низкокачественные или не отвечающие нормам морали, просто не допускаются к показу.
