extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Пользовательское соглашение'; 

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Пользовательское соглашение
      .content__box
        h3  Термины
        p Пользователь – физическое или юридическое лицо, регистрирующееся на сайта couponadrocket.ru
        p Сервис – уникальная система обмена скидочными купонами Couponadrocket для неконкурирующих интернет-магазинов.
        p Персональные данные – уникальный логин и пароль Заказчика, используемые для доступа к Личному кабинету и соответствующим Услугам из сети Интернет.

        ol
          li
            h3 Условия
            ol
              li При регистрации на сайте couponadrocket.ru и указании персональных данных, пользователь несет полную ответственность за их достоверность и полноту.
              li Пользователь обязуется не сообщать третьим лицам логин и пароль указанные при регистрации.
              li Сервис не несет ответственность за утерю Пользователем своих персональных данных, указанных при регистрации.

          li
            h3 Представление информации Пользователем
            ol
              li При регистрации на сайте couponadrocket.ru, Пользователь должен предоставить: адрес электронной почты и пароль для доступа к сайту.
              li Предоставляя свои персональные данные при регистрации, Пользователь соглашается на их обработку в течении неопределенного срока, с целью исполнения Сервисом своих обязательств перед Пользователем.
              li Предоставляя свои персональные данные при регистрации, Пользователь соглашается на получение от Сервиса справочной информации об услугах сервиса CouponAdRocket.
              li При обработке персональных данных Пользователя, Сервис руководствуется ФЗ "О персональных данных", ФЗ «О рекламе»* и иным действующим законодательством РФ.

          li
            h3 Использование информации предоставленной Пользователем и получаемой Сервисом
            ol
              li Сервис использует предоставленные Пользователем данные в течение всего срока регистрации Пользователя на Сервисе в целях:
                ul
                  li для регистрации/авторизации Пользователя на Сервисе;
                  li для обработки заказов Пользователя и выполнения своих обязательств перед Пользователем;
                  li для осуществления деятельности по продвижению товаров и услуг;
                  li анализа покупательских особенностей Пользователя и предоставления персональных рекомендаций;
                  li для участия Пользователя в программе лояльности;
                  li для информирования Пользователя об акциях, скидках и специальных предложениях.

          li
            h3 Представление и передача персональных данных
            ol
              li Сервис обязуется не передавать полученную от Пользователя информацию третьим лицам.
              li Сервис не несет ответственности за информацию, представленную пользователем на сайте сервиса couponadrocket.ru
              li Сервис принимает необходимые организационные и технические меры для защиты персональных данных Пользователя от неправомерного доступа к ним третьих лиц.
block footer
  +footer()
