extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/checkbox/checkbox

block vars
  - var title = 'Авторизация'; 

block header
  +header()

block main
  .page__holder
    .enter
      h1.enter__title Авторизация
      form.form.enter__form.js-auth-form
        .form__item
          input(type="email", placeholder="Ваш адрес e-mail", name="email", required).form__input
        .form__item
          input(type="password", placeholder="Пароль", name="pwd", required).form__input
        button(type="submit").button.button_form.button_block.form__button.enter__button Войти
block footer
  +footer()
