extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/checkbox/checkbox

block vars
  - var title = 'Авторизация'; 

block header
  +header()

block main
  .page__holder
    .registration
      h1.registration__title Авторизация
      form.form.registration__form
        .form__item
          input(type="email", placeholder="Ваш адрес e-mail").form__input
        .form__item
          input(type="password", placeholder="Пароль").form__input
        button(type="submit").button.button_form.button_block.form__button.registration__button Войти
block footer
  +footer()
