extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Пользовательское соглашение'; 

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title ДОГОВОР ОФЕРТЫ
      h3.content__center Российская Федерация, Екатеринбург
      .content__box
        p Настоящий документ представляет собой предложение Индивидуального предпринимателя Амбарова Антона Андреевича, именуемого в дальнейшем «Исполнитель» и любому юридическому лицу, индивидуальному предпринимателю и (или) физическому лицу, именуемому в дальнейшем «Заказчик», заключить Договор на оказание услуг на нижеи зложенных условиях.

        ol
          li
            h3 ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ
            p Оферта — настоящий документ в котором изложены условия, предоставления услуг Исполнителя.
            p Couponadrocket – уникальная система обмена скидочными купонами для неконкурирующих интернет-магазинов.
            p Услуги — услуги по организации обмена скидочных купонов между интернет-магазинами для обоюдного увеличения клиентопотока.
            p Акцепт Оферты — полное и безоговорочное принятие Оферты путем осуществления действий, указанных в разделе 10. Оферты. Акцептом Оферты заключается Договор между Исполнителем и Заказчиком.
            p Договор — возмездный договор между Заказчиком и Исполнителем на оказание Услуг, который заключается посредством Акцепта Оферты.
            p Аутентификационные данные – уникальный логин и пароль Заказчика, используемые для доступа к Личному кабинету и соответствующим Услугам из сети Интернет.
            p Личный кабинет – веб-страница на Сайте Исполнителя, доступная после авторизации содержащая статистическую информацию об Услугах, оказываемых Заказчику, а также размещенные на ней инструменты Сервиса для получения Заказчиком Услуг, специальные уведомления Исполнителя в адрес Заказчика и прочая информация Сервиса.
            p Сервис – программное обеспечение, права на которые принадлежат Исполнителю. Код программного обеспечения устанавливается на сайт Заказчика, с помощью которого организовывается предложение скидочных купонов интернет-магазинов партнеров сервиса, клиентам Заказчика.
            p Партнер – интернет-магазин подключенный к сервису и участвующий в обмене скидочными купонами с интернет-магазином Заказчика.
            p Скидочный купон – уникальный цифровой код направленный клиенту Заказчика посредством электронной почты. Скидочный купон дает право получателю на скидку, подарок или какой либо бонус, указанный в описании купона на продукт Партнера.
            p Продукт партнера – товар продаваемый интернет-магазином подключенным к сервису.
            p Программный код – код внедряемый в исходный код интернет-магазина, и предназначенный для вывода списка купонов интернет-магазинов партнеров.
            p Покупатель – лицо, осуществляющее покупку продукта партнера, с использованием скидочного купона. 
            p Срок выполнения услуг - период времени, за который отправляются все предоплаченные купоны, покупателям.
          
            ol
              li В Оферте могут быть использованы термины, не определенные в п.1.1. Оферты. В этом случае толкование такого термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина в тексте Оферты следует руководствоваться толкованием термина, определенным: в первую очередь – законодательством РФ, во вторую очередь сложившимся (общеупотребимым) в сети Интернет.

          li
            h3 ПРЕДМЕТ ДОГОВОРА
            ol
              li Предметом Договора является возмездное оказание Исполнителем Заказчику Услуг на условиях Оферты.
              li В соответствии с настоящим Договором Исполнитель оказывает Заказчику услуги посредством использования сервиса Couponadrocket по размещению Скидочных купонов Заказчика на страницах интернет-магазинов Партнеров.
              li Доступ к сервису Couponadrocket осуществляется по адресу: <a href="http://couponadrocket.ru/">http://couponadrocket.ru/</a>.

          li
            h3 ПОРЯДОК ОКАЗАНИЯ УСЛУГ
            ol
              li Услуги оказываются только в отношении купонов, созданных Заказчиком на couponadrocket.ru.
              li Данные о юридическом лице и интернет-магазине Заказчика, являются достаточными и достоверными.
              li Заказчик установил на своем интернет-магазине программный код, предназначенный для функционирования Сервиса.
              li Для оказания услуг, Заказчик регистрируется и создает личный кабинет по адресу <a href="http://couponadrocket.ru/">http://couponadrocket.ru/</a> в результате чего Заказчику присваивается уникальный логин и пароль.
              li С помощью Сервиса, Заказчик создает и определяет условия использования скидочных купонов.
              li Заказчик обязуется выполнять перед Покупателем условия, указанные при создании скидочного купона.
              li Программный код сервиса устанавливается, по усмотрению Заказчика, на его интернет-магазине.
              li Исполнитель вправе запросить документы, подтверждающие идентификационные данные Заказчика, в целях противодействия деяниям, совершаемым в рамках ст. 159 УК РФ. При получении запроса от Исполнителя Заказчику – физическому лицу необходимо предоставить отсканированную копию паспорта гражданина Российской Федерации, с данными, совпадающими с введенными Заказчиком при регистрации в Личном кабинете системы couponadrocket.ru. Заказчик – юридическое лицо предоставляет вышеперечисленные документы, оформленные на имя генерального директора юридического лица, указанное в ЕГРЮЛ.
              li Исполнитель в любой момент вправе отказать Заказчику в размещении Информационных материалов в сети Интернет без объяснения причин.
              li Зачисление денежных средств Заказчика на его лицевой счёт происходит в течение 5 (пяти) рабочих дней с даты поступления денежных средств Заказчика на расчётный счёт Исполнителя.
              li Информация о ходе и результатах оказания Услуг представляется клиенту в личном кабинете Сервиса.
              li Исполнитель не гарантирует ни каких сроков выполнения услуг.

          li
            h3 ПРАВА И ОБЯЗАННОСТИ СТОРОН
            ol
              li Исполнитель в рамках настоящего Договора обязуется:
                ol
                  li Оказывать Заказчику Услуги в соответствии с Договором, заключенным на условиях Оферты.
                  li Обеспечить конфиденциальность в отношении Заказчика, в том числе посредством предоставления доступа к Личному кабинету только по вводу логина и пароля Заказчика.
                  li Не предоставлять сведения о Заказчике третьим лицам, за исключением случаев, указанных в настоящем Договоре и согласно применимому действующему законодательству, а также за исключением упоминания Заказчика в числе пользователей Сервиса.
                  li Временно приостановить оказание Заказчику Услуг по Договору по техническим или иным причинам, препятствующим оказанию Услуг, на время устранения таких причин.
                  li Не показывать скидочные купоны в интернет-магазине Заказчика, интернет-магазинов партнеров являющихся прямыми конкурентами интернет-магазина Заказчика.
                  li Сервис предоставляется «как есть» без каких-либо скрытых гарантий и обещаний, не указанных в данной лицензии.

              li Заказчик в рамках настоящего договора обязуется:
                ol
                  li Гарантирует достоверность данных, которые он указывает при регистрации в системе <a href="http://couponadrocket.ru/">http://couponadrocket.ru/</a>.
                  li Заказчик вправе изменить, приостановить или прекратить показ купонов в любое время, через личный кабинет сервиса с соблюдением условий настоящего Договора.
                  li Не использовать Сервис для целей и действий, не соответствующих законодательству Российской Федерации.
                  li Обеспечивать конфиденциальность своих регистрационных данных.
                  li Не использовать Сервис для распространения материалов, относящихся к порнографии, оскорбляющих человеческое достоинство, пропагандирующих насилие или экстремизм, разжигающих расовую, национальную или религиозную вражду, преследующих хулиганские или мошеннические цели.
                  li Не посылать, не публиковать, не передавать, не воспроизводить и не распространять любым способом посредством Услуг программное обеспечение или другие материалы, полностью или частично, защищенные нормами законодательства об охране авторского права и интеллектуальной собственности, без разрешения владельца или его полномочного представителя.
                  li Не использовать Сервис для распространения информации, распространение которой запрещено или ограничено законодательством РФ.
                  li Обеспечить прием скидочных купонов своими сотрудниками.

          li
            h3 СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ ПО НАСТОЯЩЕМУ ДОГОВОРУ
            ol
              li Отчетный период оказания Услуг устанавливается в пределах выработки предоплаченного пакета купонов.
              li Стоимость Услуг в счетах не включает НДС, в связи с тем, что Исполнитель применяет упрощенную систему налогообложения. 
              li Оплата Услуг производится Заказчиком в российских рублях в безналичном порядке.
              li Услуги оказываются Заказчику на условиях предварительной оплаты Услуг. Заказчик производит авансовый платеж в размере 100% (Ста процентов) от общей стоимости заказываемых Услуг на основании счета, выставленного Исполнителем Заказчику.
              li Услуги считаются оплаченными Заказчиком с момента получения Исполнителем подтверждения из банка о поступлении всей суммы оплаты на расчетный счет Исполнителя.
              li Ежемесячно (в последний рабочий день отчетного периода) и/или по завершении оказания Услуг по Договору Исполнитель формирует Акты сдачи-приемки услуг в соответствии с объемом фактически оказанных в отчетном периоде Услуг. В течение десяти дней по завершении отчетного периода Заказчик обязан принять Услуги, в частности, путем подписания Акта, или предъявить мотивированные возражения в отношении приемки оказанных Услуг. Если в течение указанного срока от Заказчика не поступило подписанного Акта либо мотивированных письменных возражений, то Услуги считаются оказанными Исполнителем надлежащим образом и принятыми Заказчиком в указанном в Акте объеме, а Акт имеет силу двустороннего.

          li
            h3 ОТВЕТСТВЕННОСТЬ ИСПОЛНИТЕЛЯ
            ol
              li Исполнитель несет ответственность за невыполнение своих обязательств по Договору в соответствии с действующим законодательством Российской Федерации и настоящим Договором.
              li Исполнитель не несет ответственность за перерывы в оказании Услуг в случае сбоев программного обеспечения или оборудования, не принадлежащих Исполнителю.
              li Исполнитель не несет ответственность за полные или частичные прерывания оказания Услуг, связанные с заменой оборудования, программного обеспечения или проведения других работ, вызванных необходимостью поддержания работоспособности и развития технических или программных средств Сервиса.
              li Исполнитель не несет ответственность за обеспечение безопасности оборудования и программного обеспечения Заказчика, используемого для получения Услуг.
              li Исполнитель не несет ответственности за неисполнение (ненадлежащее исполнение) настоящего Договора, если это неисполнение произошло по причинам, не зависящим от Исполнитель (в частности, в результате действий хакеров или иных лиц).
              li Исполнитель не несет ответственности за любые товары (в том числе, их количество и качество), реализуемые Заказчиком.
              li Исполнитель не несет ответственности за несоблюдение указанных условия использования скидочного купона Заказчиком.

          li
            h3 ОТВЕТСТВЕННОСТЬ ЗАКАЗЧИКА
            ol
              li Заказчик несет ответственность за выполнение своих обязательств по Договору в соответствии с законодательством Российской Федерации.
              li Заказчик несет ответственность в соответствии с законодательством Российской Федерации за все действия, предпринятые посредством пользования Услугами и Сервисом, а также их последствия.
              li Заказчик компенсирует Исполнителю все расходы и убытки, возникшие у Исполнителя, в случае любых претензий третьих лиц, каким-либо образом относящихся к Скидочным купонам.

          li
            h3 РАСТОРЖЕНИЕ ДОГОВОРА
            ol
              li Договор может быть расторгнут по соглашению Сторон в любое время.
              li По инициативе любой из Сторон в случае нарушения другой Стороной условий Договора с письменным уведомлением другой Стороны.
              li По иным основаниям, предусмотренным настоящей Офертой.
          
          li
            h3 ОБРАБОТКА ПЕРСОНАЛЬНЫХ ДАННЫХ
            ol
              li Заказчик дает Исполнителю согласие на обработку персональных данных, указанных Заказчиком при регистрации в личном кабинете системы Couponadrocket для целей настоящего Договора.
              li Исполнитель собирает и хранит только ту персональную информацию, которая необходима для исполнения Договора с Заказчиком.
              li Исполнитель принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Заказчика от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
          
          li
            h3 АКЦЕПТ ОФЕРТЫ И ЗАКЛЮЧЕНИЕ ДОГОВОРА
            ol
              li Заказчик производит Акцепт Оферты:
                ol
                  li В случае заключения Договора на условиях предоплаты путем предварительной оплаты по Счету Услуг Исполнителя, в отношении которых заключается Договор, в течение установленного срока.

          li
            h3 СРОК ДЕЙСТВИЯ И ИЗМЕНЕНИЕ ДОГОВОРА
            ol
              li Акцепт Оферты Заказчика, произведенный согласно ст.7.Оферты, создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.
                ol
                  li Договор вступает в силу с момента Акцепта Оферты Заказчиком и действует: а) до момента исполнения Сторонами обязательств по Договору, а именно оплаты Заказчиком стоимости Услуг и оказания Исполнителем Услуг в объеме, соответствующем стоимости Услуг, либо б) до момента расторжения Договора.
                  li Заказчик соглашается и признает, что внесение изменений в Оферту влечет за собой внесение этих изменений в заключенный и действующий между Заказчиком и Исполнителем Договор, и эти изменения в Договор вступают в силу одновременно с такими изменениями в Оферту.
                  li В случае отзыва Оферты Исполнителем, в течение срока действия Договора, Договор считается прекращенным с момента отзыва, если иное не оговорено Исполнителем при отзыве Оферты.

          li
            h3 РЕКВИЗИТЫ
            p
              b ИП Амбаров Антон Андреевич
            p 
              | ИНН 660206273359 <br/>
              | Юр. адрес: 623771 Свердловская обл, Артемовский р-он, п. Сосновый Бор, <br/> 
              | ул. Тимирязева, д. 25, кв. 1 <br/> 
              | Почт. адрес: 620026, г. Екатеринбург, ул. Луначарского, д. 218, кв. 37 <br/> 
              | тел: +7 (912) 674 93 58 <br/> 
              | электронная почта: support@couponadrocket.ru <br/> 
              | р/с 40802810502270002028

            p
              | ТОЧКА ПАО БАНКА "ФК ОТКРЫТИЕ" <br/> 
              | БИК 044525999, к/с 30101810845250000999
            
block footer
  +footer()
