extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Подтверждение e-mail'; 

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Ваш e-mail подтвержден
      .content__box
<p>Поздравляем! Вы успешно зарегистрировались на CouponAdRocket.ru<p>
<p>Для авторизации, используйте указанные вами e-mail и пароль.<p>
<p>Сразу, после входа, вы сможете создать свой первый купон и интегрировать интернет-магазин в систему.</p>

<p><em>С уважением, команда CouponAdRocket!</em></p>
block footer
  +footer()
