extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Подтверждение e-mail'; 

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Произошла ошибка при подтверждении вашего e-mail
      .content__box
<p>К сожалению при подтверждении вашего емайла произошла ошибка.<p>
<p>Свяжитесь пожалуйста с нами support@couponadrocket.ru для устранения этой неполадки.<p>

<p><em>С уважением, команда CouponAdRocket!</em></p>
block footer
  +footer()
