extends _layouts/layout
include ../blocks/header/header
include ../blocks/hero/hero
include ../blocks/how-it-works/how-it-works
include ../blocks/looks/looks
include ../blocks/use/use
include ../blocks/benefit/benefit
include ../blocks/tariffs/tariffs
include ../blocks/faq/faq
include ../blocks/footer/footer

block vars
  - var title = 'CouponAdRocket'; 
  - var main = true;

block header
  +header()

block main
  +hero()#main
  +how-it-works()#how-it-works
  +looks()#looks
  +use()
  +benefit()
  //- +tariffs()#price
  //- +faq()#faq

block footer
  +footer()
