extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Партнерская программа';

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Партнерская программа
      .content__box
        p
          strong Занимаетесь разработкой или продвижением интернет-магазинов?
        p Станьте партнером CouponAdRocket, и получайте оплату с ваших клиентов за интеграцию и от 10% до 20% от нас, с каждого платежа привлеченного вами клиента!
        p
          strong От чего зависит процент вознаграждения?
        p Минимум, каждый партнер получает 10% с платежа привлеченного им клиента. Но если вы привлечете 100 клиентов, ваше вознаграждение будет составлять 15% с каждого (в том числе с ранее привлеченных). Если пригласите более 300 клиентов, то вознаграждение будет составлять уже 20%.
        p
          strong Что такое CouponAdRocket?
        p CouponAdRocket - это уникальный сервис увеличения продаж для интернет-магазинов, путем обмена купонами между магазинами с одной целевой аудиторией но при этом не являющимися прямыми конкурентами.
        p
          strong Как стать партнером?         
        ol.no-margin         
          li Зарегистрируйтесь в сервисе.
          li Сразу после регистрации отправьте запрос на e-mail <a href="mail:support@couponadrocket.ru">support@couponadrocket.ru</a> о том, что вы хотите стать партнером. Внимание, запрос нужно отправить с e-mail`а на который зарегистрирован аккаунт.
          li Вы получите уникальную ссылку, переходящие по которой пользователи, будут закрепляться за вами.
          li Каждый месяц, вы будете получать отчет об оплатах привлеченных клиентов.
        p Приумножайте свой доход с CouponAdRocket! 
block footer
  +footer()
