extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Пользовательское соглашение'; 

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Публичная оферта
      .content__box
        ol
          li
            h3 Термины
            p Сервис – площадка реализующая купоны интернет-магазинов партнеров, на основе договора.
            p Купон – специальное предложение интернет-магазина партнера, дающие право скидки или какой либо другой бонус, посредством предоставления уникального промо-кода, на изложенных в описании купона условиях.
            p Промо-код – уникальный цифровой код, позволяющий идентифицировать факт использования купона.
            p Акцепт – получение купона на e-mail покупателя
            p Покупатель – пользователь, совершивший покупку в интернет-магазине партнере сервиса, и получивший купон на e-mail.
            p Интернет-магазин партнер – интернет-магазин участвующий в сети обмена купонами сервиса CouponAdRocket, осуществляющий продажу товара на условиях указанных в купоне.
            p E-mail – адрес электронной почты Покупателя.

          li
            h3 Акцепт
            ol
              li Полным и безоговорочным акцептов является факт получения купона на указанный Покупателем e-mail.
              li Условия и срок действия купона, изложены в разделе «Условия использования» описания купона.
              li Покупатель соглашается, с тем что, Сервис использует и обрабатывает регистрационные данные Покупателя.
              li Регистрационные данные покупателя являются конфиденциальными и не подлежат передаче третьему лицу.
              li Покупатель дает согласие на то что на e-mail указанный для получения купонов, будет высылаться информация о выбранных купонах и рекламная информация о сервисе.

          li
            h3 Права и обязанности сторон
            ol
              li Фактом использования купона является факт передачи Покупателем уникального промо-кода Интернет-магазину партнеру.
              li Сервис при обработке персональных данных принимает необходимые меры для защиты персональных данных от неправомерного доступа к ним.
          
          li
            h3 Ответственность сторон
            ol
              li Сервис не несет ответственность за несоблюдение условий акции Интернет-магазином партнером. Вся ответственность лежит на интернет-магазине.
              li Сервис не несет ответственность за качество продаваемых товаров и предоставляемых услуг Интернет-магазином партнером.
              li Сервис не обменивает купон, в случае истечения срока использования, описанного в разделе «Условия использования» описания купона.
              li Сервис обязуется не передавать e-mail пользователя третьим лицам.
              li Сервис обязуется не рассылать на e-mail пользователя, письма с рекламной информацией, помимо письма с выбранными пользователем купонами, без согласия пользователя.

          li
            h3 Заключение
            ol
              li Настоящая оферта становится действительной после ее размещения на сайте
              li Договор считается заключенным между Сервисом и любым лицом, после факта осуществления акцепта этим лицом




block footer
  +footer()
