extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Подтверждение регистрации';

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Подтверждение регистрации
      .content__box
        p Спасибо что выбрали нас!

        p С CouponAdRocket вы несомненно, найдете новых, постоянных клиентов.

        p На указанный вами e-mail мы выслали письмо. Для подтверждения перейдите по указанной в нем ссылке.

        p Далее, добавляйте купоны и многократно увеличивайте свои продажи.

        p Удачного рабочего дня!
        p С уважением, команда CouponAdRocket!
block footer
  +footer()
