extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/checkbox/checkbox

block vars
  - var title = 'Регистрация'; 

block header
  +header()

block main
  .page__holder
    .enter
      h1.enter__title РЕГИСТРАЦИЯ
      h2.enter__sub-title Введите свои данные
      form.form.enter__form.js-reg-form
        .form__item
          input(type="email", placeholder="Ваш адрес e-mail", name="email", required, maxlength="129").form__input
        .form__item
          input(type="password", placeholder="Пароль", name="pwd", required, maxlength="40").form__input
        .form__item
          input(type="password", placeholder="Промокод", name="promoCode", maxlength="6").form__input              
        +checkbox({
          id: 'reg-agree', 
          required: true, 
          text: 'Я принимаю условия <br/><a href="agreement.html" class="enter__link" target="_blank">пользовательского соглашения</a> и <a href="rules.html" class="enter__link" target="_blank">правила сервиса</a>',
          errorMessage: 'Необходимо принять условия пользовательского соглашения',
        }).form__checkbox.enter__agree
        button(type="submit").button.button_form.button_block.form__button.enter__button Зарегистрироваться
        .form__error
block footer
  +footer()
 
