extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Подтверждение регистрации'; 

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Подтверждение регистрации
      .content__box
<p><strong>Спасибо что выбрали нас!</strong></p>

<p>С CouponAdRocket вы несомненно, найдете новых, постоянных клиентов.</p>

<p><strong>На указанный вами e-mail мы выслали письмо. Для подтверждения перейдите по указанной в нем ссылке.</strong></p>

<p>Далее, добавляйте купоны и многократно увеличивайте свои продажи.</p>

<p>Удачного рабочего дня!</p>
<p><em>С уважением, команда CouponAdRocket!</em></p>
block footer
  +footer()
