extends _layouts/layout
include ../blocks/header/header
include ../blocks/footer/footer

block vars
  - var title = 'Правила сервиса'; 

block header
  +header()

block main
  .page__holder
    .content
      h1.content__title Правила размещения рекламных материалов
      .content__box
        ol
          li
            h3 Текст объявления должен соответствовать
            ol
              li Правилам русского языка.
              li Правилам пунктуации.
              li Заглавные буквы могут использоваться только в начале предложения. Слова полностью написанные заглавными буквами не допускаются к показу.
              li Запрещается использование «разрядки» (написание слов с пробелами между б у к в а м и).
              li Запрещается указание номера телефона, e-mail адреса и прочих средств связи.
              li Не допускается использование специальных символов, кроме «№», «#», «/» и «%».
              li Текст объявления не должен указывать на конкретный пол или возраст клиента.
          li
            h3 Требования к изображению
            ol
              li Изображение должно быть высокого качества.
              li Изображение должно быть равно или кратно размеру 200х167 px.
              li Изображение не должно нарушать авторские права.
              li Изображение не должно состоять только из цветной заливки.
              li Текст не должен занимать более 50% изображения. Исключение составляют логотип или название магазина.
              li Не допускается использование изображений нарушающих нормы морали.
              li Изображение не должно содержать логотипы или какую либо другую атрибутику конкурентов.
              li Изображение не должно быть с закругленными краями.
          li
            h3 Общие требования
            ol
              li Текст и изображение должны соответствовать тематике магазина.
              li Запрещено использование имитации элементов интерфейса, вводящих пользователя в заблуждение.
              li На сайте должен быть реализован функционал приема промо-кодов при оформлении заказа. Это может быть отдельное поле для ввода промо-кода или поле комментирования, где пользователь может указать промо-код.
              li Запрещено сравнение с продуктами конкурентов
              li Купон должен представлять ценность. Это должна быть скидка, или какой либо бонус. Не допускается создание простых рекламных объявлений.

          li
            h3 Категории товаров, запрещенные к показу
            ol
              li Товары для взрослых: интим-товары, порнографические материалы, интимные тренинги.
              li Курительные смеси, соли, веселящие газы и прочие психотропные вещества.
              li Алкогольная и табачная продукция.
              li Курительные принадлежности (в т.ч. электронные сигареты, кальяны и т.д.).
              li Анаболические стероиды и прочие специальные вещества влияющие на рост мышц
              li Холодное, боевое, гражданское оружие.
              li Товары политического характера.
              li Продукция нарушающая авторские права.
              li Виагра и другие препараты для улучшения мужской потенции
              li БАДы
              li и другая продукция запрещенная российским законодательством

          li
            h3 Обязательные условия
            ol
              li При рекламировании лекарственных средств, медицинской техники и пр. изделий медицинского назначения, требуется маркировка 18+ и пометка «Есть противопоказания. Необходима консультация специалиста».
              li При рекламировании лекарственных средств, медицинской техники и пр. изделий медицинского назначения, необходимо отправить подтверждающие документы (лицензии) на адрес электронной почты <a href="mailto:support@couponadrocket.com">support@couponadrocket.ru</a>.
              li При рекламировании детского питания требуется пометка «Есть противопоказания. Необходима консультация специалиста».
              li При рекламировании детского питания необходимо отправить подтверждающие документы (лицензии) на адрес электронной почты <a href="mailto:support@couponadrocket.com">support@couponadrocket.ru</a>.
              li Использование изображений физических лиц в рекламном объявлении допустимо только при наличии документов, подтверждающих согласие данного лица. Подтверждающие документы необходимо отправить на адрес электронной почты <a href="mailto:support@couponadrocket.com">support@couponadrocket.ru</a>.
              li Реклама результатов интеллектуальной деятельности разрешена только при наличии соответствующих документов, подтверждающих права на использование результатов интеллектуальной деятельности. Подтверждающие документы необходимо отправить на адрес электронной почты support@couponadrocket.ru.
              li Реклама фильмов, книг, музыки должна сопровождаться возрастным ограничением, для которой она предназначена  (согласно законодательству Российской Федерации: «0+», «6+», «12+», «16+», «18+»).
              li Запрещена подмена информации страницы, на которую ведет ссылка из объявления.
              li Для рекламы биологически активных добавок, необходима пометка «Не является лекарством».
              li Для рекламы изделий конструктивно схожими с оружием, необходима пометка «Конструктивно сходные с оружием изделия»
              li В соответствии с требованиями ФЗ «О рекламе» объявления, объектами рекламирования в которых являются продукты, предназначенные для использования в качестве заменителей женского молока, и продукты, включенные в рацион ребенка в течение его первого года жизни, сопровождаются предупреждением вида «Проконсультируйтесь со специалистом. Для питания детей с ________ (указание возрастного ограничения в пределах от 0 до 12 месяцев)».
              li Администрация сервиса вправе отказать в размещении купона, без объяснения причин.
              li Администрация сервиса вправе остановить показ купона, в любое время, без объяснения причин



block footer
  +footer()
