mixin benefit(data)
  .benefit&attributes(attributes)
    .benefit__holder
      h2.benefit__head Почему это выгодно
      .benefit__list
        .benefit__row
          .benefit__column.benefit__column_4
            .benefit__item
              i.benefit__icon.benefit__icon_q1
              .benefit__title Стоимость одного клиента <br/> <b>всего от 10 руб.</b>
          .benefit__column.benefit__column_4
            .benefit__item
              i.benefit__icon.benefit__icon_q2
              .benefit__title Настройка рекламной кампании займет <b>не более 20 минут</b>
          .benefit__column.benefit__column_4
            .benefit__item
              i.benefit__icon.benefit__icon_q3
              .benefit__title <b>Увеличение конверсии сайта,</b> за счет создания дополнительной ценности для клиента
        .benefit__row
          .benefit__column.benefit__column_4
            .benefit__item
              i.benefit__icon.benefit__icon_q4
              .benefit__title Совершенно <b>новый и<br/> ненавязчивый</b> формат рекламы
          .benefit__column.benefit__column_4    
            .benefit__item
              i.benefit__icon.benefit__icon_q5
              .benefit__title Купоны показываются<br/> только <b>заинтересованным</b> клиентам
          .benefit__column.benefit__column_4    
            .benefit__item
              i.benefit__icon.benefit__icon_q6
              .benefit__title <b>Стоимость клиента дешевле,</b><br/> чем в контекстной или медийной рекламе          
        .benefit__row
          .benefit__column.benefit__column_6
            .benefit__item.benefit__item_right
              i.benefit__icon.benefit__icon_q7
              .benefit__title <b>Увеличение посещаемости сайта</b><br/> за счет переходов с других сайтов
          .benefit__column.benefit__column_6
            .benefit__item.benefit__item_left
              i.benefit__icon.benefit__icon_q8
              .benefit__title <b>Быстрое расширение</b> клиентской базы, за счет распространения купонов <b>с выгодным предложением</b>
