.benefit {
  padding-top: rem(40px);
  padding-bottom: rem(80px);

  &__holder {
    @include holder;
  }

  &__list {
    overflow: hidden;
  }

  &__row {
    @include clearfix;
    & + & {
      margin-top: rem(38px);
      @include mq($until: tablet) {
        margin-top: 0;
      }
    }
  }

  &__head {
    margin: 0;
    text-align: center;
    font-size: rem(34px);
    font-weight: 300;
    margin-bottom: rem(54px);
    position: relative;
  }

  &__item {
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include mq($until: tablet) {
      margin-top: rem(40px);
    }
    &_left {
      float: left;
      @include mq($until: tablet) {
        float: none;
      }        
    }

    &_right {
      float: right;
      @include mq($until: tablet) {
        float: none;
      }      
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: top;
    margin-bottom: rem(20px);

    &_q1 {
      @include sprite($icon-q1);
    }

    &_q2 {
      @include sprite($icon-q2);
    }

    &_q3 {
      @include sprite($icon-q3);
    }

    &_q4 {
      @include sprite($icon-q4);
    }

    &_q5 {
      @include sprite($icon-q5);
    }

    &_q6 {
      @include sprite($icon-q6);
    }

    &_q7 {
      @include sprite($icon-q7);
    }

    &_q8 {
      @include sprite($icon-q8);
    }
  }

  &__column {
    box-sizing: border-box;
    padding-left: rem(50px);
    padding-right: rem(50px);

    &_4 {
      @include column(4);
    }

    &_6 {
      @include column(6);
    }

    @include mq($until: tablet) {
      float: none;
      width: auto;
      display: block;
    }
  }

}
