mixin benefit(data)
  .benefit&attributes(attributes)
    .benefit__holder
      h2.benefit__head Почему это выгодно
      .benefit__list
        .benefit__row
          .benefit__column.benefit__column_4
            .benefit__item
              .benefit__title Стоимость одного клиента всего от 10 руб.
          .benefit__column.benefit__column_4
            .benefit__item
              .benefit__title Настройка рекламной кампании займет не более 20 минут
          .benefit__column.benefit__column_4
            .benefit__item
              .benefit__title Увеличение конверсии сайта, за счет создания дополнительной ценности для клиента
        .benefit__row
          .benefit__column.benefit__column_4
            .benefit__item
              .benefit__title Совершенно новый и не навязчивый формат рекламы
          .benefit__column.benefit__column_4    
            .benefit__item
              .benefit__title Купоны показываются только заинтересованным клиентам
          .benefit__column.benefit__column_4    
            .benefit__item
              .benefit__title Стоимость клиента дешевле чем в контекстной или медийной рекламе          
        .benefit__row
          .benefit__column.benefit__column_6
            .benefit__item
              .benefit__title Увеличение посещаемости сайта за счет переходов с других сайтов
          .benefit__column.benefit__column_6
            .benefit__item
              .benefit__title Быстрое расширение клиентской базы, за счет распространения купонов с выгодным предложением
