mixin how-it-works(data)
  .how-it-works&attributes(attributes)
    .how-it-works__holder
      h2.how-it-works__head Как это работает?!
      .how-it-works__list
        .how-it-works__item.how-it-works__item_first
          .how-it-works__info
            .how-it-works__count 1
            .how-it-works__box
              .how-it-works__title Вы добавляете свой купон в&nbsp;систему.
              .how-it-works__text Это может быть какой-либо подарок или скидка.
          .how-it-works__view
            img(src="images/how-it-works-1.jpg", alt="").how-it-works__image
        .how-it-works__item.how-it-works__item_two
          .how-it-works__view
            img(src="images/how-it-works-2.jpg", alt="").how-it-works__image
          .how-it-works__info
            .how-it-works__count 2
            .how-it-works__box
              .how-it-works__title Купон размещается в&nbsp;интернет-магазинах
              .how-it-works__text участвующих в системе, с которыми вы имеете одну целевую аудиторию, но не являетесь прямыми конкурентами. Например магазин косметики и магазин женской одежды
        .how-it-works__item.how-it-works__item_three
          .how-it-works__info
            .how-it-works__count 3
            .how-it-works__box
              .how-it-works__title Когда человек совершает покупку
              .how-it-works__text в таком магазине, ему предлагается Ваш купон, который в будущем он может использовать на вашем сайте, получив подарок или скидку Далее человек может стать вашим постоянным клиентом
          .how-it-works__view
            img(src="images/how-it-works-3.jpg", alt="").how-it-works__image
        .how-it-works__item.how-it-works__item_two
          .how-it-works__view
            img(src="images/how-it-works-4.jpg", alt="").how-it-works__image
          .how-it-works__info
            .how-it-works__count 4
            .how-it-works__box
              .how-it-works__title При оформлении<br/> заказа
              .how-it-works__text на вашем сайте, пользователю так же предлагаются купоны других участников системы, которые не являются вашими конкурентами, но с которыми у Вас одна целевая аудитория!
