.how-it-works {
  background: #5bbff1;
  padding-top: rem(40px);
  padding-bottom: rem(140px);
  color: #fff;

  &__title {
    font-size: 18px;
    font-weight: 700;
  }

  &__list {
    overflow: hidden;
  }
  
  &__holder {
    @include holder;
  }

  &__head {
    margin: 0;
    text-align: center;
    font-size: rem(34px);
    font-weight: 300;
    margin-bottom: rem(75px);
    position: relative;
    z-index: 1
  }

  &__count {
    font-size: rem(72px);
    float: left;
    line-height: 1;
    margin-right: rem(18px);
  }

  &__title {
    font-size: rem(37px);
    font-weight: 300;
    margin-bottom: rem(28px);
  }

  &__text {
    font-size: rem(18px);
  }

  &__item {
    @include clearfix;
    & + & {
      margin-top: rem(227px);
      @include mq($until: tablet) {
        margin-top: rem(50px);
      }
    }
  }

  &__box {
    overflow: hidden;
  }

  &__info {
    float: left;
    width: 53%;
    min-height: 1px;
    position: relative;
    z-index: 1;
    @include mq($until: tablet) {
      float: none;
      width: auto;
    }
  }

  &__view {
    float: left;
    min-height: 1px;
    width: 47%;
    position: relative;
    @include mq($until: tablet) {
      display: none;   
    }
  }

  &__image {
    position: absolute;
    z-index: 0;
  }

  &__item_first &__image {
    top: -150px;
    right: -20px;
  }

  &__item_two &__image {
    top: -65px;
    left: -80px;
  }

  &__item_three &__image {
    top: -130px;
    right: -30px;
  } 
}
