mixin how-it-works(data)
  .how-it-works&attributes(attributes)
    .how-it-works__holder
      h2.how-it-works__head Как это работает?!
      .how-it-works__list
        .how-it-works__item.how-it-works__item_first
          .how-it-works__info
            .how-it-works__count 1
            .how-it-works__box
              .how-it-works__title Вы добавляете свой купон в&nbsp;систему.
              .how-it-works__text Это может быть какой-либо подарок или скидка.
          .how-it-works__view
            img(src="images/how-it-works-1.png", alt="").how-it-works__image
        .how-it-works__item.how-it-works__item_two
          .how-it-works__view
            img(src="images/how-it-works-2.png", alt="").how-it-works__image
          .how-it-works__info
            .how-it-works__count 2
            .how-it-works__box
              .how-it-works__title Купон предлагается Вашим потенциальным клиентам
              .how-it-works__text Купон размещается в интернет-магазинах, участвующих в системе, с которыми вы имеете одну целевую аудиторию, но не являетесь прямыми конкурентами. Например магазин косметики и магазин женской одежды.
        .how-it-works__item.how-it-works__item_three
          .how-it-works__info
            .how-it-works__count 3
            .how-it-works__box
              .how-it-works__title Вы получаете новых клиентов
              .how-it-works__text Когда человек совершает покупку в таком магазине, ему предлагается Ваш купон, который в будущем он может использовать на вашем сайте, получив подарок или скидку. Далее он становится вашим постоянным клиентом.
          .how-it-works__view
            img(src="images/how-it-works-3.png", alt="").how-it-works__image
        .how-it-works__item.how-it-works__item_four
          .how-it-works__view
            img(src="images/how-it-works-4.png", alt="").how-it-works__image
          .how-it-works__info
            .how-it-works__count 4
            .how-it-works__box
              .how-it-works__title Вы получаете новое конкурентное преимущество
              .how-it-works__text При оформлении заказа в вашем магазине, покупателям так же предлагаются купоны других участников системы, которые не являются вашими конкурентами. Покупатели будут благодарны вам за представленную скидку или бонус в другой интересный им магазин, запомнят вас и еще не раз вернутся.
        .how-it-works__item.how-it-works__item_five
          .how-it-works__info
            .how-it-works__count 5
            .how-it-works__box
              .how-it-works__title Вы увеличиваете продажи
              .how-it-works__text Получая новый источник клиентов, вы увеличиваете продажи за счет распространения купонов, новых постоянных клиентов, которые совершают повторные продажи и за счет повторных покупок лояльных покупателей, которым вы дали рекомендацию.
          .how-it-works__view
            img(src="images/how-it-works-5.png", alt="").how-it-works__image
