.hero {
  min-height: 850px;
  min-height: 100vh;
  background: #08354d;
  position: relative;

  @include mq($until: tablet) {
    padding-top: rem(220px);
  }
  
  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: rem(43px);
  }
}
