doctype html
block vars
html(lang="ru", class={'t-main': main})
  include ../_includes/head
  body
    .page
      block header
      main.main
        block main
      block footer
    include ../_includes/scripts
    block local-scripts