mixin contacts(data)
  .contacts&attributes(attributes)
    .contacts__phone
      a(href="tel:+74952121259").contacts__phone-link +7 (495) 212-12-59
    a(href="mailto:support@couponadrocket.ru").contacts__email support@couponadrocket.ru
