mixin advantages(data)
  .advantages&attributes(attributes)
    .advantages__holder
      .advantages__list
        .advantages__item
          .advantages__row
            .advantages__icon.advantages__icon_click
            .advantages__title Вы можете использовать систему <br/> <span class="advantages__important">БЕСПЛАТНО</span>
        .advantages__item
          .advantages__row
            .advantages__icon.advantages__icon_web
            .advantages__title Запуск рекламной<br/>  кампании за <br/> <span class="advantages__important">20 минут</span>
        .advantages__item
          .advantages__row
            .advantages__icon.advantages__icon_people
            .advantages__title <span class="advantages__important">До 230</span><br/> новых клиентов в месяц
