mixin advantages(data)
  .advantages&attributes(attributes)
    .advantages__holder
      .advantages__list
        .advantages__item
          .advantages__icon.advantages__icon_click
          .advantages__title До 230 новых клиентов<br/> в месяц
        .advantages__item
          .advantages__icon.advantages__icon_people
          .advantages__title Вы можете использовать<br/> систему абсолютно БЕСПЛАТНО
        .advantages__item
          .advantages__icon.advantages__icon_web
          .advantages__title Запуск рекламной<br/> кампании в течении 20 минут
