.advantages {
  &__holder {
    @include holder;

    @include mq($until: tablet) {
      text-align: center;
    }
  }

  &__list {
    @include clearfix;

    @include mq($until: tablet) {
      display: inline-block;
    }
  }

  &__row {
    white-space: nowrap;
  }

  &__item {
    float: left;
    padding-left: rem(35px);
    padding-right: rem(35px);
    box-sizing: border-box;
    @include column(4);
    @include mq($until: tablet) {
      float: none;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      display: block;

      & + & {
        margin-top: rem(40px);
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;

    &_click {
      @include sprite($icon-click);
    }

    &_people {
      @include sprite($icon-people);
    }

    &_web {
      @include sprite($icon-web);
    }
  }

  &__title {
    color: #252525;
    font-size: rem(16px);
    display: inline-block;
    vertical-align: middle;
    padding-left: rem(20px);
    white-space: normal;
  }

  &__important {
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(20px);
  }
}
