mixin tariffs(data)
  .tariffs&attributes(attributes)
    .tariffs__holder
      h2.tariffs__head Сколько это стоит?
      .tariffs__row
        .tariffs__column
          .tariffs__item.tariffs__item_green
            .tariffs__title СТАРТЕР
            .tariffs__total
              .tariffs__price 0
              .tariffs__label руб/в месяц
            .tariffs__info
              .tariffs__limit 5
              .tariffs__text купонов
              a(href="registration.html").button.tariffs__button.js-reg Выбрать
        .tariffs__column
          .tariffs__item.tariffs__item_purple
            .tariffs__title ЭКОНОМ
            .tariffs__total
              .tariffs__price 490
              .tariffs__label руб/в месяц
            .tariffs__info
              .tariffs__limit 80 
              .tariffs__text купонов
              a(href="registration.html").button.tariffs__button.js-reg Выбрать
        .tariffs__column
          .tariffs__item.tariffs__item_orange
            .tariffs__title СТАНДАРТ
            .tariffs__total
              .tariffs__price 1990
              .tariffs__label руб/в месяц
            .tariffs__info
              .tariffs__limit 350 
              .tariffs__text купонов
              a(href="registration.html").button.tariffs__button.js-reg Выбрать
        .tariffs__column
          .tariffs__item.tariffs__item_blue
            .tariffs__title ЗОЛОТОЙ
            .tariffs__total
              .tariffs__price 4990
              .tariffs__label руб/в месяц
            .tariffs__info
              .tariffs__limit 1000 
              .tariffs__text купонов
              a(href="registration.html").button.tariffs__button.js-reg Выбрать
