mixin tariffs(data)
  .tariffs&attributes(attributes)
    .tariffs__holder
      h2.tariffs__head Сколько это стоит?
      .tariffs__description Все переходы на ваш интернет-магазин бесплатны, оплачиваются только распространенные купоны
      .tariffs__row
        .tariffs__column
          .tariffs__item.tariffs__item_gray
            .tariffs__title СТАРТ
            .tariffs__total
              .tariffs__price 0
              .tariffs__label руб.
              .tariffs__sale
            .tariffs__info
              .tariffs__limit 10
              .tariffs__text купонов ежемесячно
              .tariffs__action
              a(href="registration.html", onclick="yaCounter43219434.reachGoal('СТАРТЕР'); return true;").button.tariffs__button.js-reg Выбрать
        .tariffs__column
          .tariffs__item.tariffs__item_blue
            .tariffs__title ЭКОНОМ
            .tariffs__total
              .tariffs__price 490
              .tariffs__label руб.
              .tariffs__sale
            .tariffs__info
              .tariffs__limit 80
              .tariffs__text купонов
              .tariffs__action
              a(href="registration.html", onclick="yaCounter43219434.reachGoal('ЭКОНОМ'); return true;").button.tariffs__button.js-reg Выбрать
        .tariffs__column
          .tariffs__item.tariffs__item_green
            .tariffs__title СТАНДАРТ
            .tariffs__total
              .tariffs__price 1490
              .tariffs__label руб.
              .tariffs__sale Скидка 10%
            .tariffs__info
              .tariffs__limit 280
              .tariffs__text купонов
              .tariffs__action
              a(href="registration.html", onclick="yaCounter43219434.reachGoal('СТАНДАРТ'); return true;").button.tariffs__button.js-reg Выбрать
        .tariffs__column
          .tariffs__item.tariffs__item_gold
            .tariffs__title ЗОЛОТОЙ
            .tariffs__total
              .tariffs__price 3990
              .tariffs__label руб.
              .tariffs__sale Скидка 20%
            .tariffs__info
              .tariffs__limit 800
              .tariffs__text купонов
              .tariffs__action Переходы на сайт <b>бесплатно</b>
              a(href="registration.html", onclick="yaCounter43219434.reachGoal('ЗОЛОТОЙ'); return true;").button.tariffs__button.js-reg Выбрать
