.tariffs {
  padding-top: rem(40px);
  padding-bottom: rem(80px);
  background: #f5f9fb;

  &__holder {
    @include holder;
  }

  &__head {
    margin: 0;
    text-align: center;
    font-size: rem(34px);
    font-weight: 300;
    margin-bottom: rem(54px);
    position: relative;
  }

  &__row {
    @include clearfix;
    margin-left: rem(-6px);
    margin-right: rem(-6px);
    @include mq($until: tablet) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__column {
    padding-left: rem(6px);
    padding-right: rem(6px);
    box-sizing: border-box;
    @include column(3);

    @include mq($until: tablet) {
      float: none;
      width: auto;
      display: block;
      padding-left: 0;
      padding-right: 0;
      margin-top: rem(40px);
    }
  }

  &__item {
    box-shadow: 5px 3px 13px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  &__info {
    border: solid #cfcfcf;
    border-width: 0 1px 1px 1px;
    box-sizing: border-box;
  }

  &__title {
    color: #fff;
    font-size: rem(22px);
    text-transform: uppercase;
    padding: rem(7px) rem(5px);
  }

  &__total {
    color: #fff;
    padding: rem(35px) rem(5px) rem(10px);
  }

  &__price {
    font-size: rem(62px);
    line-height: 1;
  }

  &__label {
    font-size: rem(14px);
  }

  &__sale {
    min-height: 30px;
    font-size: rem(20px);
    margin-top: rem(3px);
  }

  &__info {
    background: #fff;
    padding: rem(30px) rem(5px);
  }

  &__limit {
    font-size: rem(23px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }

  &__text {
    text-transform: uppercase;
    margin-bottom: rem(10px);
  }

  &__action {
    min-height: 38px;
    padding: 0 rem(25px);
    text-transform: uppercase;
    margin-bottom: rem(10px);    
  }

  &__item_gray &__title {
    background: #666;
  }

  &__item_gray &__total {
    background: #999;
  }

  &__item_blue &__title {
    background: #165673;
  }

  &__item_blue &__total {
    background: #287ca1;
  }

  &__item_green &__title {
    background: #457417;
  }

  &__item_green &__total {
    background: #6cb920;
  }

  &__item_green &__title {
    background: #457417;
  }

  &__item_green &__total {
    background: #6cb920;
  }

  &__item_gold &__title {
    background: #990000;
  }

  &__item_gold &__total {
    background: #CC0000;
  }

}
