mixin looks(data)
  .looks&attributes(attributes)
    .looks__holder
      h2.looks__head Как это выглядит?
      .looks__gallery
        .js-looks-preview.looks__link
          img(src="images/preview.jpg", alt="").looks__image
