mixin looks(data)
  .looks&attributes(attributes)
    .looks__holder
      h2.looks__head Как это выглядит?
      .looks__text Такое окно, с вашим купоном увидит покупатель, партнерского интернет-магазина, <br/> сразу после совершения заказа.
      .looks__gallery
        .js-looks-preview.looks__link(onclick="yaCounter43219434.reachGoal('Скриншот'); return true;")
          img(src="images/preview.jpg", alt="").looks__image
