mixin looks(data)
  .looks&attributes(attributes)
    .looks__holder
      h2.looks__head Как это выглядит?
      .looks__gallery
        a(href="uploads/img1.jpg").js-popup-gallery.looks__link
          img(src="uploads/img1.jpg", alt="").looks__image
        a(href="uploads/img2.jpg").js-popup-gallery.looks__hidden-link
        a(href="uploads/img3.jpg").js-popup-gallery.looks__hidden-link
        a(href="uploads/img4.jpg").js-popup-gallery.looks__hidden-link
