.tools {
  margin-left: rem(87px);
  display: inline-block;
  vertical-align: middle;
  padding-top: rem(30px);
  @include mq($until: mobile) {
    margin-left: rem(27px);
  }
  &__button {
    font-weight: 400;
    border-radius: 11px;
    padding: em(5px, 14px) em(19px, 14px);
    & + & {
      margin-left: rem(12px);
    }

    &_auth {
      position: relative;
      padding: 0;
      border-radius: 0;
      &:before {
        content: '';
        position: absolute;
        left: -27px;
        top: 5px;
        display: inline-block;
        vertical-align: middle;
        @include sprite($icon-key);
      } 
    }
  }
}
