mixin tools(data)
  .tools&attributes(attributes)
    a(href="authorization.html").button.button_link.tools__button.tools__button_auth Войти
    a(href="registration.html", onclick="yaCounter43219434.reachGoal('Регистрация-Шапка'); return true;").button.tools__button.js-reg Регистрация
    button(type="button").tools__contacts-button.js-contacts-show
    .tools__contacts.tools__contacts_hidden
      a(href="tel:+74952121259").tools__contacts-item +7 (495) 212-12-59
      a(href="mailto:support@couponadrocket.com").tools__contacts-item support@couponadrocket.com
