mixin tools(data)
  .tools&attributes(attributes)
    a(href="authorization.html").button.button_link.tools__button.tools__button_auth Войти
    a(href="registration.html").button.tools__button Регистрация
