.menu {
  vertical-align: middle;
  display: inline-block;
  padding-top: rem(20px);

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    & + & {
      margin-left: rem(12px);
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: opacity .2s;

    &:hover {
      opacity: .6;
    }
  }
}
