.header {
  z-index: 1;
  padding-top: rem(15px);
  padding-bottom: rem(45px);
  background: #08354d;

  &__holder {
    @include holder;
  }

  &__row {
    @include clearfix;
  }

  &__left {
    float: left;
    @include mq($until: tablet) {
      float: none;
    }
  }

  &__right {
    float: right;
    @include mq($until: tablet) {
      float: none;
    }    
  }

  .t-main & {
    position:  absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
