.form {
  &__input {
    width: 100%;
    display: block;
    background: #eef2f4;
    border-radius: 2px;
    border: 0;
    padding: rem(13px) rem(16px);
    outline: none;
    font-size: rem(12px);
    box-sizing: border-box;

    &.parsley-error {
      background: #ecc9c6;
    }
  }

  &__item {
    & + & {
      margin-top: rem(17px);
    }
  }

  &__error {
    display: none;
    color: #de8a83;
    font-size: rem(16px);
    text-align: center;
    margin-top: rem(20px);
  }

  &_error &__error {
    display: block;
  }

  .parsley-errors-list {
    margin: 0;
    padding: rem(10px) 0;
    list-style: none;

    li {
      list-style: none;
      color: #de8a83;
    }
  }
}
