// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-case-name: 'icon_case';
$icon-case-x: 0px;
$icon-case-y: 0px;
$icon-case-offset-x: 0px;
$icon-case-offset-y: 0px;
$icon-case-width: 68px;
$icon-case-height: 68px;
$icon-case-total-width: 327px;
$icon-case-total-height: 252px;
$icon-case-image: '../images/sprite.png';
$icon-case: (0px, 0px, 0px, 0px, 68px, 68px, 327px, 252px, '../images/sprite.png', 'icon_case', );
$icon-checkbox-name: 'icon_checkbox';
$icon-checkbox-x: 298px;
$icon-checkbox-y: 181px;
$icon-checkbox-offset-x: -298px;
$icon-checkbox-offset-y: -181px;
$icon-checkbox-width: 11px;
$icon-checkbox-height: 7px;
$icon-checkbox-total-width: 327px;
$icon-checkbox-total-height: 252px;
$icon-checkbox-image: '../images/sprite.png';
$icon-checkbox: (298px, 181px, -298px, -181px, 11px, 7px, 327px, 252px, '../images/sprite.png', 'icon_checkbox', );
$icon-click-name: 'icon_click';
$icon-click-x: 268px;
$icon-click-y: 113px;
$icon-click-offset-x: -268px;
$icon-click-offset-y: -113px;
$icon-click-width: 51px;
$icon-click-height: 59px;
$icon-click-total-width: 327px;
$icon-click-total-height: 252px;
$icon-click-image: '../images/sprite.png';
$icon-click: (268px, 113px, -268px, -113px, 51px, 59px, 327px, 252px, '../images/sprite.png', 'icon_click', );
$icon-contacts-name: 'icon_contacts';
$icon-contacts-x: 268px;
$icon-contacts-y: 172px;
$icon-contacts-offset-x: -268px;
$icon-contacts-offset-y: -172px;
$icon-contacts-width: 30px;
$icon-contacts-height: 30px;
$icon-contacts-total-width: 327px;
$icon-contacts-total-height: 252px;
$icon-contacts-image: '../images/sprite.png';
$icon-contacts: (268px, 172px, -268px, -172px, 30px, 30px, 327px, 252px, '../images/sprite.png', 'icon_contacts', );
$icon-increase-name: 'icon_increase';
$icon-increase-x: 68px;
$icon-increase-y: 68px;
$icon-increase-offset-x: -68px;
$icon-increase-offset-y: -68px;
$icon-increase-width: 68px;
$icon-increase-height: 68px;
$icon-increase-total-width: 327px;
$icon-increase-total-height: 252px;
$icon-increase-image: '../images/sprite.png';
$icon-increase: (68px, 68px, -68px, -68px, 68px, 68px, 327px, 252px, '../images/sprite.png', 'icon_increase', );
$icon-key-name: 'icon_key';
$icon-key-x: 298px;
$icon-key-y: 172px;
$icon-key-offset-x: -298px;
$icon-key-offset-y: -172px;
$icon-key-width: 20px;
$icon-key-height: 9px;
$icon-key-total-width: 327px;
$icon-key-total-height: 252px;
$icon-key-image: '../images/sprite.png';
$icon-key: (298px, 172px, -298px, -172px, 20px, 9px, 327px, 252px, '../images/sprite.png', 'icon_key', );
$icon-people-name: 'icon_people';
$icon-people-x: 268px;
$icon-people-y: 57px;
$icon-people-offset-x: -268px;
$icon-people-offset-y: -57px;
$icon-people-width: 59px;
$icon-people-height: 56px;
$icon-people-total-width: 327px;
$icon-people-total-height: 252px;
$icon-people-image: '../images/sprite.png';
$icon-people: (268px, 57px, -268px, -57px, 59px, 56px, 327px, 252px, '../images/sprite.png', 'icon_people', );
$icon-q1-name: 'icon_q1';
$icon-q1-x: 136px;
$icon-q1-y: 0px;
$icon-q1-offset-x: -136px;
$icon-q1-offset-y: 0px;
$icon-q1-width: 75px;
$icon-q1-height: 54px;
$icon-q1-total-width: 327px;
$icon-q1-total-height: 252px;
$icon-q1-image: '../images/sprite.png';
$icon-q1: (136px, 0px, -136px, 0px, 75px, 54px, 327px, 252px, '../images/sprite.png', 'icon_q1', );
$icon-q2-name: 'icon_q2';
$icon-q2-x: 268px;
$icon-q2-y: 0px;
$icon-q2-offset-x: -268px;
$icon-q2-offset-y: 0px;
$icon-q2-width: 59px;
$icon-q2-height: 57px;
$icon-q2-total-width: 327px;
$icon-q2-total-height: 252px;
$icon-q2-image: '../images/sprite.png';
$icon-q2: (268px, 0px, -268px, 0px, 59px, 57px, 327px, 252px, '../images/sprite.png', 'icon_q2', );
$icon-q3-name: 'icon_q3';
$icon-q3-x: 63px;
$icon-q3-y: 136px;
$icon-q3-offset-x: -63px;
$icon-q3-offset-y: -136px;
$icon-q3-width: 63px;
$icon-q3-height: 58px;
$icon-q3-total-width: 327px;
$icon-q3-total-height: 252px;
$icon-q3-image: '../images/sprite.png';
$icon-q3: (63px, 136px, -63px, -136px, 63px, 58px, 327px, 252px, '../images/sprite.png', 'icon_q3', );
$icon-q4-name: 'icon_q4';
$icon-q4-x: 136px;
$icon-q4-y: 54px;
$icon-q4-offset-x: -136px;
$icon-q4-offset-y: -54px;
$icon-q4-width: 63px;
$icon-q4-height: 64px;
$icon-q4-total-width: 327px;
$icon-q4-total-height: 252px;
$icon-q4-image: '../images/sprite.png';
$icon-q4: (136px, 54px, -136px, -54px, 63px, 64px, 327px, 252px, '../images/sprite.png', 'icon_q4', );
$icon-q5-name: 'icon_q5';
$icon-q5-x: 211px;
$icon-q5-y: 0px;
$icon-q5-offset-x: -211px;
$icon-q5-offset-y: 0px;
$icon-q5-width: 57px;
$icon-q5-height: 62px;
$icon-q5-total-width: 327px;
$icon-q5-total-height: 252px;
$icon-q5-image: '../images/sprite.png';
$icon-q5: (211px, 0px, -211px, 0px, 57px, 62px, 327px, 252px, '../images/sprite.png', 'icon_q5', );
$icon-q6-name: 'icon_q6';
$icon-q6-x: 211px;
$icon-q6-y: 62px;
$icon-q6-offset-x: -211px;
$icon-q6-offset-y: -62px;
$icon-q6-width: 57px;
$icon-q6-height: 60px;
$icon-q6-total-width: 327px;
$icon-q6-total-height: 252px;
$icon-q6-image: '../images/sprite.png';
$icon-q6: (211px, 62px, -211px, -62px, 57px, 60px, 327px, 252px, '../images/sprite.png', 'icon_q6', );
$icon-q7-name: 'icon_q7';
$icon-q7-x: 0px;
$icon-q7-y: 136px;
$icon-q7-offset-x: 0px;
$icon-q7-offset-y: -136px;
$icon-q7-width: 63px;
$icon-q7-height: 62px;
$icon-q7-total-width: 327px;
$icon-q7-total-height: 252px;
$icon-q7-image: '../images/sprite.png';
$icon-q7: (0px, 136px, 0px, -136px, 63px, 62px, 327px, 252px, '../images/sprite.png', 'icon_q7', );
$icon-q8-name: 'icon_q8';
$icon-q8-x: 126px;
$icon-q8-y: 136px;
$icon-q8-offset-x: -126px;
$icon-q8-offset-y: -136px;
$icon-q8-width: 67px;
$icon-q8-height: 54px;
$icon-q8-total-width: 327px;
$icon-q8-total-height: 252px;
$icon-q8-image: '../images/sprite.png';
$icon-q8: (126px, 136px, -126px, -136px, 67px, 54px, 327px, 252px, '../images/sprite.png', 'icon_q8', );
$icon-stat-name: 'icon_stat';
$icon-stat-x: 0px;
$icon-stat-y: 68px;
$icon-stat-offset-x: 0px;
$icon-stat-offset-y: -68px;
$icon-stat-width: 68px;
$icon-stat-height: 68px;
$icon-stat-total-width: 327px;
$icon-stat-total-height: 252px;
$icon-stat-image: '../images/sprite.png';
$icon-stat: (0px, 68px, 0px, -68px, 68px, 68px, 327px, 252px, '../images/sprite.png', 'icon_stat', );
$icon-target-name: 'icon_target';
$icon-target-x: 68px;
$icon-target-y: 0px;
$icon-target-offset-x: -68px;
$icon-target-offset-y: 0px;
$icon-target-width: 68px;
$icon-target-height: 68px;
$icon-target-total-width: 327px;
$icon-target-total-height: 252px;
$icon-target-image: '../images/sprite.png';
$icon-target: (68px, 0px, -68px, 0px, 68px, 68px, 327px, 252px, '../images/sprite.png', 'icon_target', );
$icon-web-name: 'icon_web';
$icon-web-x: 0px;
$icon-web-y: 198px;
$icon-web-offset-x: 0px;
$icon-web-offset-y: -198px;
$icon-web-width: 63px;
$icon-web-height: 54px;
$icon-web-total-width: 327px;
$icon-web-total-height: 252px;
$icon-web-image: '../images/sprite.png';
$icon-web: (0px, 198px, 0px, -198px, 63px, 54px, 327px, 252px, '../images/sprite.png', 'icon_web', );
$spritesheet-width: 327px;
$spritesheet-height: 252px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-case, $icon-checkbox, $icon-click, $icon-contacts, $icon-increase, $icon-key, $icon-people, $icon-q1, $icon-q2, $icon-q3, $icon-q4, $icon-q5, $icon-q6, $icon-q7, $icon-q8, $icon-stat, $icon-target, $icon-web, );
$spritesheet: (327px, 252px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
